<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <title>POWERBITS</title>
</head>
<body style="background-color: #2578ce;">

<div class="container" style="margin-top:50px;">
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
            <form action="{{ url_for('handle_branch_code') }}" method="post">
                <input id="latitude" name="latitude" type=hidden>
                <input id="longitude" name="longitude" type=hidden>
                <center>
                    <select class="browser-default custom-select" name="branch_code" style="margin-bottom: 20px;">
                        {% if branch %}
                        {% for branch in branch.branch %}
                        <option value="{{branch}}">{{branch}}</option>
                        {% endfor %}
                        {% endif %}
                    </select>
                    <button class="btn btn-success" type="submit">Select Office</button>
                </center>
            </form>
        </div>
        <div class="col-4">
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.map"></script>

<script>
    window.onload = function(){
if(navigator.geolocation)
    navigator.geolocation.getCurrentPosition(handlesucces, onError);
}

 function handlesucces(location) {
    document.getElementById("latitude").value = location.coords.latitude;
    console.log(location.coords.latitude);
    document.getElementById("longitude").value = location.coords.longitude;
}

 function onError() {
document.write("Error");
}




</script>
</body>
</html>